@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INICIO SECAO TOPO */
.btn-agendar:hover .iconeBtnUm {
  transform: scale(1.5);
}

/* INICIO SECAO SERVICOS */
.SecaoServicosCaixa .SecaoServicosIcone{
  transition: transform 0.6s ease;
}

.SecaoServicosCaixa:hover .SecaoServicosIcone {
  transform: scale(1.2);
}

.SecaoServicosIcone {
  background: linear-gradient(85deg, #00b386, #2db300);
  color: #fff;
  width: 20%;
  height: 70px;
  padding: .9rem;
  border-radius: 10px;
}

/* INICIO SECAO SOBRE */
.sobre-icone {
  color: #00b386;
  font-size: 1.3rem;
}

/* INICIO SECAO CONTATO */
.contato-icone {
  color: #fff;
  font-size: 1.3rem;
  background: linear-gradient(85deg, #00b386, #2db300);
  width: 10%;
  height: 40px;
  border-radius: 10px;
  padding: .4rem;
}

/* INICIO RODAPE  */
.rodape-icone {
  cursor: pointer;
}